<div class="card">
  <div *ngIf="rental"
       class="card-body">
    <div class="form-group form-row">
      <div class="form-group col-md-2">
        <label for="rentalId">
          Identifiant
        </label>
        <input id="rentalId"
               value="{{rental.id}}"
               class="form-control"
               readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="vehicle">
          Véhicule
        </label>
        <input class="form-control mr-sm-2"
               name="vehicle"
               id="vehicle"
               value="{{rental.vehicle.model.make.name}} {{rental.vehicle.model.name}} {{rental.vehicle.color}}"
               readonly>
      </div>
      <div *ngIf="userAdmin"
           class="form-group col-md-4">
        <label for="customer">
          Client
        </label>
        <input id="customer"
               value="{{rental.customer.firstName + ' ' + rental.customer.lastName}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-2">
        <label for="pickupDate">
          Date de récupération
        </label>
        <input id="pickupDate"
               type="text"
               value="{{rental.pickupDate.getTime() | date: 'dd/MM/yyyy'}}"
               class="form-control align-center"
               readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="dropoffDate">
          Date de retour
        </label>
        <input id="dropoffDate"
               type="text"
               value="{{effectiveDropoffDate.getTime() | date: 'dd/MM/yyyy'}}"
               class="form-control align-center"
               aria-describedby="dropoffDateNotice"
               readonly>
        <small id="dropoffDateNotice"
               class="form-text"
               [ngClass]="remainingDays < 0 ? 'text-danger' : 'text-muted'">
          {{remainingDays >= 0 ?
            "Il reste " + remainingDays + " jour(s)." :
            -remainingDays + " jour(s) de retard."}}
          <br>
          Date de retour prévue le {{dropoffDate.getTime() | date: 'dd/MM/yyyy'}}
        </small>
      </div>
      <div *ngIf="userAdmin && remainingDays <= 0"
           class="form-group">
        <label for="btn">
          &nbsp;
        </label>
        <button id="btn"
                class="btn form-control"
                ngClass="{{
                  effectiveDropoffDate.getTime() < now ?
                    'btn-primary' :
                    'btn-secondary'
                }}"
                [attr.disabled]="effectiveDropoffDate.getTime() < now ? true : null"
                (click)="updateRental()">
          Véhicule rendu
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-4">
        <label for="price">
          Prix
        </label>
        <div class="input-group form-inline">
          <input id="price"
                 value="{{(rental.usingLoyaltyPoints ?
                  rental.vehicle.loyaltyPoints :
                  rental.vehicle.rentalPrice) * rental.duration}}"
                 class="form-control col-sm-5 align-right"
                 readonly>
          <div class="input-group-append">
            <span class="input-group-text">
              {{rental.usingLoyaltyPoints ? 'Points' : '€'}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr *ngIf="userAdmin">
    <div *ngIf="userAdmin"
         class="form-group">
      <button class="btn {{futureRental ? 'btn-danger' : 'btn-secondary'}}"
              data-toggle="modal"
              data-target="#rentalDeletionConfirm"
              [attr.disabled]="!futureRental ? true : null">
        Supprimez
      </button>
    </div>
  </div>
</div>
<div id="rentalDeletionConfirm"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirmation de suppression
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Veuillez confirmer la suppression.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="deleteRental()">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
