<div id="accordion">
  <div *ngFor="let make of makes | async"
       class="card">
    <div class="card-header"
         id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link"
                data-toggle="collapse"
                [attr.data-target]="'#make' + make.id"
                aria-expanded="true"
                aria-controls="collapseOne">
          {{make.name}}
        </button>
      </h5>
    </div>
    <div id="make{{make.id}}"
         class="collapse"
         aria-labelledby="headingOne"
         data-parent="#accordion">
      <div class="card-body">
        {{make.modelIds.length}}&nbsp;
        {{(make.modelIds.length > 1 ? 'common.models' : 'common.model') | translate}}&nbsp;
        {{(make.modelIds.length > 1 ? 'common.available.plural' : 'common.available.singular') | translate}}&nbsp;
      </div>
    </div>
  </div>
</div>
