<app-navbar [user]="token?.user"
            [unauthorized]="unauthorized"
            (tokenCreated)="tokenCreated($event)">
</app-navbar>
<div class="container">
  <router-outlet (activate)="componentAdded($event)"></router-outlet>
</div>
<app-user-navbar *ngIf="token != null"
                 [user]="token?.user"
                 (tokenDestroyed)="tokenDestroyed()">
</app-user-navbar>
