<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
       routerLink="/"
       [translate]="'common.brand'">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"
             routerLink="/"
             [translate]="'navbar.links.home.text'">
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             id="navbarDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
             [translate]="'navbar.links.makesAndModels.text'">
          </a>
          <div class="dropdown-menu"
               aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">
              {{'common.cars' | translate | titlecase}}
            </h6>
            <a class="dropdown-item"
               routerLink="/marques/0/voiture">
              {{'common.makes' | translate | titlecase}}
            </a>
            <a class="dropdown-item"
               routerLink="/modeles/0/voiture">
              {{'common.models' | translate | titlecase}}
            </a>
            <h6 class="dropdown-header">
              {{'common.scooters' | translate | titlecase}}
            </h6>
            <a
              class="dropdown-item"
              routerLink="/marques/1/scooter">
              {{'common.makes' | translate | titlecase}}
            </a>
            <a class="dropdown-item"
               routerLink="/modeles/1/scooter">
              {{'common.models' | translate | titlecase}}
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             data-toggle="collapse"
             data-target="#search"
             aria-expanded="false"
             aria-controls="collapseExample"
             [translate]="'navbar.links.search.text'">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/a-propos"
             [translate]="'about.title'">
          </a>
        </li>
      </ul>
      <app-login *ngIf="user == null && !unauthorized"
                 [id]="0"
                 [inline]="true"
                 (tokenCreated)="tokenCreated($event)">
      </app-login>
    </div>
  </nav>
  <div class="collapse"
       style="background-color: white;"
       id="search">
    <app-search></app-search>
  </div>
</div>
<div *ngIf="user == null"
     class="modal fade"
     id="exampleModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLabel"
            [translate]="'registration.title'">
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-registration></app-registration>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
